<div class="col-4 m-5  p-3 rounded shadow">
    <form [formGroup]="stuForm" (submit)="save()">
        <div class="mb-3">
          <label class="form-label">user name</label>
          <input type="text" class="form-control" formControlName = "userName"
            [ngClass]="{ 'is-invalid': submitted }" 
          >
          <div *ngIf="submitted && f['userName'].errors">
            <span class="text-danger" *ngIf="f['userName'].errors['required']">enter username</span>
          </div>
        </div>
     
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName = "email"
            [ngClass]="{ 'is-invalid': submitted }"
          >
          <div *ngIf="submitted && f['email'].errors">
            <span class="text-danger" *ngIf="f['email'].errors['required']">enter email</span>
            <span class="text-danger" *ngIf="f['email'].errors['pattern']">enter true email</span>
          </div>
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <select 
              class="form-select" 
              formControlName = "city"
              [ngClass]="{ 'is-invalid': submitted }"
            >
              <option selected>select city</option>
              <option *ngFor = "let item of cityData">{{item.city}}</option>
            </select>
            <div *ngIf="submitted && f['city'].errors">
              <span class="text-danger" *ngIf="f['city'].errors['required']">enter username</span>
            </div>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" formControlName = "check">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
</div>
